<main>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Lifestyle Shoes</span>
            <h2>Nike 30% Off</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. A,
              tempore illum aperiam, consequuntur, impedit eum nisi nesciunt ab
              numquam soluta est quos praesentium excepturi veritatis?
            </p>

            <a routerLink="/shop" routerLinkActive="active" class="btn"
              >Check Out</a
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Formal Shoes</span>
            <h2>Modern Chic</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Sapiente, temporibus mollitia expedita non doloribus, nemo, eaque
              sit cupiditate similique autem veritatis rem placeat ipsum magni.
            </p>

            <a routerLink="/shop" routerLinkActive="active" class="btn"
              >Check Out</a
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Sport Shoes</span>
            <h2>Fresh Kick</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in
              quo animi consequuntur numquam deserunt quaerat perspiciatis,
              iusto voluptatibus, praesentium minima porro vitae nisi earum?
            </p>

            <a routerLink="/shop" routerLinkActive="active" class="btn"
              >Check Out</a
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <app-hot-product />
  <app-feedback />
  <app-partner />
</main>
