<main>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Lifestyle Shoes</span>
            <h2>Nike 30% Off</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. A,
              tempore illum aperiam, consequuntur, impedit eum nisi nesciunt ab
              numquam soluta est quos praesentium excepturi veritatis?
            </p>

            <a href="#" class="btn">Check Out</a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Formal Shoes</span>
            <h2>Modern Chic</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Sapiente, temporibus mollitia expedita non doloribus, nemo, eaque
              sit cupiditate similique autem veritatis rem placeat ipsum magni.
            </p>

            <a href="#" class="btn">Check Out</a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Sport Shoes</span>
            <h2>Fresh Kick</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in
              quo animi consequuntur numquam deserunt quaerat perspiciatis,
              iusto voluptatibus, praesentium minima porro vitae nisi earum?
            </p>

            <a href="#" class="btn">Check Out</a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- Hot Product -->
  <div class="hot-product container-fluid py-5 px-5">
    <h3 class="text-center text-uppercase fw-bold mb-5">
      <span class="text-danger">Hot</span> Products
    </h3>
    <hr />

    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-4 row-cols-xl-4 gap-5 justify-content-center"
    >
      <!-- Product card -->
      <div class="col">
        <div class="card">
          <!-- Product image -->
          <div class="img-container container">
            <img class="card-img-top p-5" src="{{ images[0] }}" alt="Shoes" />
          </div>

          <!-- Product details  p-4 -->
          <div class="card-body text-center pt-4">
            <!-- Product name -->
            <h4 href="#" class="h4 text-primary text-decoration-none">
              Product name
            </h4>
            <!-- Product raiting -->
            <div class="d-flex justify-content-center small text-warning my-2">
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-half"></div>
            </div>
            <!-- Product price -->
            <div class="product-price">
              <span class="price fw-bold ms-2">$18.55</span>
            </div>
          </div>

          <!-- Product Add to cart -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-4">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto px-4 py-2"
                href="#"
                role="button"
                ><span class="bi bi-cart4"></span> Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <!-- Product image -->
          <div class="img-container container">
            <img class="card-img-top p-5" src="{{ images[1] }}" alt="Shoes" />
          </div>

          <!-- Product details  p-4 -->
          <div class="card-body text-center pt-4">
            <!-- Product name -->
            <h4 href="#" class="h4 text-primary text-decoration-none">
              Product name
            </h4>
            <!-- Product raiting -->
            <div class="d-flex justify-content-center small text-warning my-2">
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-half"></div>
            </div>
            <!-- Product price -->
            <div class="product-price">
              <span class="price fw-bold ms-2">$18.55</span>
            </div>
          </div>

          <!-- Product Add to cart -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-4">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto px-4 py-2"
                href="#"
                role="button"
                ><span class="bi bi-cart4"></span> Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <!-- Product image -->
          <div class="img-container container">
            <img class="card-img-top p-5" src="{{ images[2] }}" alt="Shoes" />
          </div>

          <!-- Product details  p-4 -->
          <div class="card-body text-center pt-4">
            <!-- Product name -->
            <h4 href="#" class="h4 text-primary text-decoration-none">
              Product name
            </h4>
            <!-- Product raiting -->
            <div class="d-flex justify-content-center small text-warning my-2">
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-half"></div>
            </div>
            <!-- Product price -->
            <div class="product-price">
              <span class="price fw-bold ms-2">$18.55</span>
            </div>
          </div>

          <!-- Product Add to cart -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-4">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto px-4 py-2"
                href="#"
                role="button"
                ><span class="bi bi-cart4"></span> Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonial -->
  <div
    class="testimonial container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100"
  >
    <h3 class="text-center text-uppercase fw-bold mb-5">
      <span class="text-success">Customer</span> Feedbacks
    </h3>
    <hr />

    <div class="testimonials d-flex justify-content-center">
      <div class="container my-3">
        <div
          class="row g-2 row-cols-1 row-cols-md-4 row-cols-xl-4 d-flex justify-content-around gap-2"
        >
          <!-- Card -->
          <div class="cols-md-3">
            <div class="testimonial-card card p-3 text-center px-4">
              <div class="user-image">
                <img
                  src="https://i.imgur.com/PKHvlRS.jpg"
                  class="rounded-circle"
                  width="80"
                />
              </div>

              <div class="user-content">
                <h5 class="mb-0">Bruce Hardy</h5>
                <span>Shoe Designer</span>
                <p class="mt-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>

              <!-- Product raiting -->
              <div
                class="d-flex justify-content-center small text-warning my-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="testimonial-card card p-3 text-center px-4">
              <div class="user-image">
                <img
                  src="https://i.imgur.com/w2CKRB9.jpg"
                  class="rounded-circle"
                  width="80"
                />
              </div>

              <div class="user-content">
                <h5 class="mb-0">Mark Smith</h5>
                <span>Shoe Engineer</span>
                <p class="mt-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>

              <!-- Product raiting -->
              <div
                class="d-flex justify-content-center small text-warning my-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="testimonial-card card p-3 text-center px-4">
              <div class="user-image">
                <img
                  src="https://i.imgur.com/ACeArwY.jpg"
                  class="rounded-circle"
                  width="80"
                />
              </div>

              <div class="user-content">
                <h5 class="mb-0">Veera Duncan</h5>
                <span>Celebrity</span>
                <p class="mt-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>

              <!-- Product raiting -->
              <div
                class="d-flex justify-content-center small text-warning my-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="client-wrap container-fluid">
    <h3 class="text-center text-uppercase fw-bold mb-5">
      Our <span class="text-warning">Partners</span>
    </h3>
    <hr />

    <div class="client-in container-fluid d-flex justify-content-center">
      <ul
        class="row g-2 row-cols-1 row-cols-md-4 row-cols-xl-4 d-flex justify-content-around gap-0 gap-md-5"
      >
        <li>
          <img src="{{ brands[0] }}" alt="Partner" />
          <img src="{{ brands[0] }}" alt="Partner" />
        </li>
        <li>
          <img src="{{ brands[1] }}" alt="Partner" />
          <img src="{{ brands[1] }}" alt="Partner" />
        </li>
        <li>
          <img src="{{ brands[2] }}" alt="Partner" />
          <img src="{{ brands[2] }}" alt="Partner" />
        </li>
        <li>
          <img src="{{ brands[3] }}" alt="Partner" />
          <img src="{{ brands[3] }}" alt="Partner" />
        </li>
      </ul>
    </div>
  </div>
</main>
