<!-- Hot Product -->
<div class="hot-product container-fluid py-5 px-5">
  <h3 class="text-center text-uppercase fw-bold mb-5">
    <span class="text-danger">Hot</span> Products
  </h3>
  <hr />

  <div
    class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 gap-4 gap-md-0 justify-content-center"
  >
    <!-- Product card -->
    <div class="col">
      <div class="card" *ngIf="products[0] as product">
        <!-- Product image -->
        <div class="img-container container">
          <img
            class="card-img-top p-5 p-md-3"
            src="{{ images[0] }}"
            alt="Shoes"
          />
        </div>

        <!-- Product details  p-4 -->
        <div class="card-body text-center pt-4">
          <!-- Product name -->
          <h4 href="#" class="h4 text-primary text-decoration-none">
            {{product.name}}
          </h4>
          <!-- Product raiting -->
          <div class="d-flex justify-content-center small text-warning my-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-half"></div>
          </div>
          <!-- Product price -->
          <div class="product-price">
            <span class="price fw-bold ms-2">{{product.price}}</span>
          </div>
        </div>

        <!-- Product Add to cart -->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-4">
          <div class="text-center">
            <a
              class="btn btn-outline-dark mt-auto px-4 py-2"
              href="#"
              role="button"
              (click)="addProductToCart(product)"
              ><span class="bi bi-cart4"></span> Add to cart</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" *ngIf="products[1] as product">
        <!-- Product image -->
        <div class="img-container container">
          <img
            class="card-img-top p-5 p-md-3"
            [src]="product.image"
            alt="Shoes"
          />
        </div>

        <!-- Product details  p-4 -->
        <div class="card-body text-center pt-4">
          <!-- Product name -->
          <h4 href="#" class="h4 text-primary text-decoration-none">
            {{product.name}}
          </h4>
          <!-- Product raiting -->
          <div class="d-flex justify-content-center small text-warning my-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-half"></div>
          </div>
          <!-- Product price -->
          <div class="product-price">
            <span class="price fw-bold ms-2">{{product.price}}</span>
          </div>
        </div>

        <!-- Product Add to cart -->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-4">
          <div class="text-center">
            <a
              class="btn btn-outline-dark mt-auto px-4 py-2"
              href="#"
              role="button"
              (click)="addProductToCart(product)"
              ><span class="bi bi-cart4"></span> Add to cart</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" *ngIf="products[2] as product">
        <!-- Product image -->
        <div class="img-container container">
          <img
            class="card-img-top p-5 p-md-3"
            [src]="product.image"
            alt="Shoes"
          />
        </div>

        <!-- Product details  p-4 -->
        <div class="card-body text-center pt-4">
          <!-- Product name -->
          <h4 href="#" class="h4 text-primary text-decoration-none">
            {{product.name}}
          </h4>
          <!-- Product raiting -->
          <div class="d-flex justify-content-center small text-warning my-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-half"></div>
          </div>
          <!-- Product price -->
          <div class="product-price">
            <span class="price fw-bold ms-2">{{product.price}}</span>
          </div>
        </div>

        <!-- Product Add to cart -->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-4">
          <div class="text-center">
            <a
              class="btn btn-outline-dark mt-auto px-4 py-2"
              href="#"
              role="button"
              (click)="addProductToCart(product)"
              ><span class="bi bi-cart4"></span> Add to cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
