main {
    padding-top: 7rem;
    padding-bottom: 3rem;
    overflow: hidden;

}

.btn-outline {
    background-color: transparent;
    border: 1px solid;
}

.remove-btn.btn-outline {
    color: #f44336;
    border-color: #f44336;
}

.remove-btn.btn-outline:hover {
    background-color: #f44336;
    color: #fff;
}

.checkout-btn.btn-outline {
    color: #4caf50;
    border-color: #4caf50;
}

.checkout-btn.btn-outline:hover {
    background-color: #4caf50;
    color: #fff;
}

.purchase-history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.historyText{
    padding-bottom: 1rem;
    border-bottom: 1px solid #000; 
    width: 90%; 
    margin: 0 auto; 
}

.purchase-item{
    padding-top: 1rem;
    padding-left: 1rem;

    & img {
        width: 15rem;
        height: 15rem;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

* {
    border: 1px solid red;
}

.picsum-img-wrapper{ 
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 10rem;
        height: 10rem;
    }
}