  <main>
    <div class="container mt-5" 
    *ngIf="cart.length > 0; else emptyCart">
      <h2 class="cartText text-center text-uppercase fw-bold mb-5">Your 
        <span style="color: lightcoral;">Cart</span></h2>
      <hr>

    <!-- Go to Shop Button -->
    <div class="goToShop" style="display: flex; font-weight: bold;">
      <a class="shop-button mt-3 nav-link active"
      routerLink="/shop" 
      routerLinkActive="active"
      role="button"
      >
        &larr; Go to Shop
      </a>
    </div>

      <div class="cart-item mb-4" *ngFor="let product of cart; let i = index">
        <div class="row align-items-center justify-content-center">
          
          <!-- Product Section -->
          <div class="col-md-6">
            <div class="content">
              <h3 class="product-name">{{ product.name }}</h3>
              <br />
              <span class="product-price">$ {{ product.price }}</span>
              <p class="product-description">{{ product.description }}</p>
              <button
                class="removeButton btn remove-btn btn-outline"
                (click)="removeFromCart(i)"
              >
                Remove
              </button>
            </div>
          </div>
          <!-- End of product section -->

          <!-- Product Picture Section -->
          <div class="col-md-6">
            <div class="picsum-img-wrapper">
              <img [src]="product.image" alt="{{ product.name }}" />
            </div>
          </div>
          <!-- End of picture section -->
        </div>
      </div>

      <!-- Price and Checkout Section -->
      <div class="totalItems2 text-center">
        <span class="totalItems2">Total Items: {{ getTotalItems() }}</span>
      </div>
      <div class="text-center">
        <span class="totalPrice">Total Price: $ {{ getTotalPrice() }} </span>
      </div>
      <div class="text-center">
        <button class="btn checkout-btn btn-outline" (click)="checkout()">
          Checkout
        </button>
      </div>
      <!-- End of Price and Checkout section -->
    </div>

    <!-- tumbleween animation -->
    <ng-template #emptyCart>
      <div class="cartIsEmptyText">
        <h2>Cart is empty</h2>
        
        <div class="empty-icon-container">
          <div class="animation-container">
            <img
              src="../../assets/tumbleweed-icon-22.jpg"
              alt="Product Name"
              class="tumbleweed"
            />
            <div class="pebble1"></div>
            <div class="pebble2"></div>
            <div class="pebble3"></div>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- End of tumbleweed animation -->

    <!-- Go to Shop Button -->
    <div class="goToShop" style="display: flex; justify-content: center; font-weight: bold;" 
    *ngIf="cart.length == 0; ">
      <a class="shop-button2 mt-3 nav-link active"
      routerLink="/shop" 
      routerLinkActive="active"
      role="button"
      >
        &larr; Go to Shop
      </a>
    </div>
    <!-- End of shop button -->
    
    <!-- Purchase History Section -->
    <div class="purchase-history-section text-center">
      <br />
      <h3 class="historyText">Purchase History</h3>
      <div class="swiper-container d-flex">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="purchase-item">
              <img
                src="./assets/amber.jpg"
                alt="Product Name"
                class="purchase-image"
              />
              <div class="purchase-details">
                <span class="purchase-name">Product Name</span><br />
                <span class="purchase-price">Product Price</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End of History Section -->

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="purchase-item">
              <img
                src="./assets/amber.jpg"
                alt="Product Name"
                class="purchase-image"
              />
              <div class="purchase-details">
                <span class="purchase-name">Product Name</span><br />
                <span class="purchase-price">Product Price</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End of purchase item -->

        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- End of Purchase History Section -->
  </main>
